<h1>Welcome! Please Login in to Write Posts and Comment on Posts!</h1>
<form id="login" name="login" method="POST" action="/users/signup">
    <div>
        <label for="username">Username:</label>
        <input type="text" name="username" required>
    </div>
    <br>
    <div>
        <label for="password">Password</label>
        <input type="text" name="password" required>
    </div>
    <br>
    <button type="submit">Log In!</button>
</form>