<div>Welcome! Please Sign Up to Write Posts and Comment!</div>
<form id="signUp" name="signUp" method="POST" action="/users/signup">
    <div>
        <label for="firstName">First Name:</label>
        <input type="text" name="firstName" required>
    </div>
    <br>
    <div>
        <label for="lastName">Last Name:</label>
        <input type="text" name="LastName" required>
    </div>
    <br>
    <div>
        <label for="email">Email:</label>
        <input type="text" name="email" required>
    </div>
    <br>
    <div>
        <label for="username">Username:</label>
        <input type="text" name="username" required>      </div>
    </div>
    <br>
    <div>
        <label for="password">Password:</label>
        <input type="passsword" name="password" required>      </div>
    </div>
    <br>
    <div>
        <button type="submit">Sign Up!</button>
    </div>
</form>